@model IEnumerable<MVC_progettoVecchio.Models.InfoPagamento>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p class="btn btn-primary m-0">
        @Html.ActionLink("Nuovo Pagamento", "Create")
    </p>

    <button class="btn btn-primary">
        @Html.ActionLink("Ordine Decrescente", "Index", new { id = 1 })
    </button>
    <button style="text-decoration:none" class="btn btn-primary">
        @Html.ActionLink("Ordine Crescente", "Index", new { id = 2 })
    </button>

    <table class="table mt-5">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeriodoDelPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDiPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idLavoratore)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodoDelPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDiPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Importo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idLavoratore)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

    </table>
</body>
</html>
